---
import Main from "../components/Main.svelte";
import Button from "../components/Button.svelte";
import { faEnvelope } from "@fortawesome/free-solid-svg-icons";
import { faTwitter, faGithub, faYoutube } from "@fortawesome/free-brands-svg-icons";

const title = "smixqse - personal website";
const description = "my personal website where you can find all my relevant social media accounts";

const buttons = [
    {name: "YouTube", url: "https://www.youtube.com/channel/UCMsLB-9AECak7w_K9Z6OrBw", icon: faYoutube},
    {name: "YouTube", url: "https://www.youtube.com/channel/UCHooNXF6YdpeIcCdvUK_htw", icon: faYoutube, secondary: true},
    {name: "Twitter", url: "https://twitter.com/smixqse", icon: faTwitter},
    {name: "GitHub", url: "https://github.com/smixqse", icon: faGithub},
    {name: "Email", url: "mailto:mail@smixqse.top", icon: faEnvelope }
]

---
<html lang="en" class="text-sm sm:text-md md:text-lg lg:text-xl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="title" content={title}>
    <meta name="description" content={description}>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://smixqse.top/">
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content="https://smixqse.top/screenshot.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://smixqse.top/">
    <meta property="twitter:title" content={title}>
    <meta property="twitter:description" content={description}>
    <meta property="twitter:image" content="https://smixqse.top/screenshot.png">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/style/global.css">
</head>
<body class="bg-background">
    <Main buttons={buttons} client:load></Main> 
</body>
</html>